# Auto detect text files and perform normalization
*           text=auto

# Fix syntax highlighting on GitHub to allow comments
.vscode/*.json  text linguist-language=JSON-with-Comments

# Scripts
*.bash      text eol=lf
*.fish      text eol=lf
*.ksh       text eol=lf
*.sh        text eol=lf
*.zsh       text eol=lf
# These are explicitly windows files and should use crlf
*.bat       text eol=crlf
*.cmd       text eol=crlf
*.ps1       text eol=crlf

# Serialisation
*.json      text
*.toml      text
*.xml       text
*.yaml      text
*.yml       text
